#alert-bar {
    text-align: center;
    row-gap: 0;
    position: fixed;
    width: 100%;
    z-index: 4;
    top: 0;
    left: 0;
}

#alert-btn{
    border: 0px;
    background-color: rgb(255, 241, 201)
}