#profile-pic {
    width: 40%;
    margin-top: 50px;
}

#profile-pic-container {
    display: flex;
    justify-content: center;
}

#title-top {
    margin-top: 200px;
}
.title {
    text-align: center;
    font-size: 20pt;
}