#profile-pic {
  width: 30%;
  margin-top: 50px;
}

#profile-pic-container {
  display: flex;
  justify-content: center;
}

#title-top {
  margin-top: 200px;
  animation: moveUpDelay .4s ease-out 1.8s;
}

#title-bottom {
  animation: moveUp 2s ease-out;
}

.title {
  text-align: center;
  font-size: 20pt;
  font-family: "Calligraffitti", cursive;
}

@keyframes moveUp {
  0% {
    transform: translatey(100vh);
  }
  50% {
    transform: translatey(100vh);
  }
  90% {
    transform: translatey(-5vh);
  }
  100% {
    transform: translatey(0);
  }
}


  @keyframes moveUpDelay {
    0% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-10vh);
    }
    100% {
      transform: translatey(0);
    }
}
