#logo-container {
    margin-top: 10vh;
    height: 100px;
    background-color: rgb(253, 231, 204);
    border: 2px solid #C2ABAF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons:hover {
    color:  #C2ABAF;
}

.icon-btn {
    border: 0px;
    background-color: rgb(253, 231, 204);
}