#nav-bar {
  margin-top: -20px;
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 70px;
  left: 0;
  background-color: rgb(253, 231, 204);
  border: 2px solid #C2ABAF;
}

#logo-nav {
  width: 150px;
}
