#nav-bar {
  margin-top: -20px;
  z-index: 3;
  top: 70px;
  left: 0;
  background-color: rgb(253, 231, 204);
  border: 2px solid #c2abaf;
  height: 80px;
}

.profile-pic {
    height: 50px;
}

#logo-nav {
  width: 150px;
}

@media only screen and (max-width: 450px) {
  #nav-bar {
    top: 100px;
  }
}
