#design-card {
    display: flex;
    justify-content: center;
    height: 350px;
    width: 350px;
}

#design-img {
    height: 350px;
    width: 350px;
    object-fit: cover;
}

#image-overlay {
    opacity: 0;
    position: absolute;
    height: 350px;
    width: 350px;
    transition: .5s ease;
    background-color: rgb(255, 255, 255);
}

#design-card:hover #image-overlay {
    opacity: .5;
}

#text {
    text-align: center;
    padding-top: 50px;
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 1050px) {
    #design-card, #image-overlay, #design-img {
        height: 250px;
        width: 250px;
    }
  }

@media only screen and (max-width: 750px) {
    #design-card, #image-overlay, #design-img {
        height: 150px;
        width: 150px;
    }
  }

  @media only screen and (max-width: 450px) {
    #design-card, #image-overlay, #design-img {
        height: 100px;
        width: 100px;
    }
  }