#landing-page {
  background-color: #f4ebdb;
}

#story {
  background-color: rgb(253, 231, 204);
  border: 2px solid #C2ABAF;
  height: 400px;
  width: 80%;
  border-radius: 25px;
  text-align: left;
}

#story-containor, #reviews-containor {
  display: flex;
  justify-content: space-evenly;
}

#story-containor-buffer {
  height: 120px;
}

#home, #design-details-buffer  {
  height: 70px;
}

#footer {
  height: 50vh;
}