#landing-page {
  background-color: #e7d6b7
}


#story {
  background-color: rgb(253, 231, 204);
  height: 400px;
  margin-top: 5%;
  width: 80%;
  border-radius: 25px;
  text-align: center;
}

#story-buffer {
  display: flex;
  justify-content: center;
}

#bathroom-buffer {
  height: 70px;
}

#home {
  height: 70px;
}